// Colours

$black : rgb(13,13,13);
$white : rgb(250,250,250);
$green : #42a454;
$red   : #e8394a;

// Fonts

$body-font: "Gill sans";
$font-family--buttons: 'Lato', 'sans-serif';


html {
  background: url(/images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:$white;
  text-align: center;
  font-family: $font-family--buttons;
  overflow: scroll;
}


h2 {
  font-size: 2em;
  position:relative;
  top: 3vh;

}

h3 {
  font-size: 1.5em;
}

a {
  color: $white;
  text-decoration: none;
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;  
  }
  &:active {
    color: $white;
  }
}

form {
  display: block;
  padding: 10px;
  position: relative;
  top:6.5vh;
}

input {
  background-color: rgba(250,250,250,0.8);
  font-family: $font-family--buttons;
  font-size: 16px;
  border-radius: 3px;
  color: $black;
  min-height: 2em;
  width: 250px;
  text-align: center;
  border:none;
  &:focus {
    outline:none;
  }
}

::-webkit-input-placeholder {
  opacity: 0.8;
  color: $black;
  font-size:1.5em;
}

button {
    font-family: $font-family--buttons;
    background-color: $black;
    border-radius:3px;
    color: $white;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    height: 2.1em;
    width: fit-content;
    &:hover {
      background-color:$green;
      color:$black;
    }
    &:active {
      top: 2px;
    }
}


footer {
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

i {
  position: relative;
  bottom: 3%;
  padding: 25px;
  padding-bottom: 2%;
}


.title {
  padding-top:5.5vh;
}

.logo {
  padding: 1vh;
  position: relative;
  top:3vh;
  width: 30%;
  height: 30%;
}

.error-messages{
  position: relative;
  top: 6vh;
  font-size: 24px;

}

#errors {
  padding-top:10px;
  color: $red;
}

.subtitle {
  position: relative;
  top:10vh;
  h3 {
    padding: 1%;
  }
}

.main {
  background-color:rgba($black,0.5);
  position: relative;
  top: 5vh;
  height: 50vh;
  margin: 0 auto;
  // width: fit-content;
  padding: 0px 20px 0px 20px;

}

.heading {
  line-height: 300%;
  font-style: italic;
}

// /* IE 6 */
// * html footer {
//    position:absolute;
//    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
// }


// Media Queries

//   @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//       @content;
//     }
//   }

//   @include media-query(){
    
//   }
// }



