

<div class="heading">
<h2>Tell us where you like to go... Tell us where you want to.</h2>
</div>
<div class="error-messages">
  <%= partial :flash %>
</div>
<form action="/users" method="post">
  <input type="email" placeholder="EMAIL" autocomplete="on" name="email" autofocus required>
  <button>SUBMIT</button>
</form>
<div class="subtitle">
<h3>Being a vegan has never been more rewarding.</h3>
<h3>Find the best places to eat.</h3>
<h3>Request more of them.</h3>
</div>