<!DOCTYPE html>
<html>
  <head>
    <title>Vemand</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>
    <img class="logo" src="/images/logo.png">
    <div class="main">
      <%= yield %>
    </div>
  <footer>
    <a href="www.twitter.com"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    <a href="www.facebook.com"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
    <a href="www.instagram.com"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
  </footer>
  </body>
</html>
